%p#notice= notice
.panel-heading.h1 Listing categories

%table.table.table-hover
  %tr
    %th Name
    %th
    %th
    %th

  - categories.each do |category|
    %tr
      %td= category.name
      %td= button_to 'Show', category, method: :get, :class => "btn btn-sm btn-primary pull-right"
      %td= button_to 'Edit', edit_category_path(category), method: :get, :class => "btn btn-sm btn-warning pull-right"
      %td= button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger pull-right"

%br

= button_to 'New Category', new_category_path, method: :get, :class => "btn btn-primary"


