%p#notice= notice

%p.h3
  %b Category:
  = category.name

%table.table.table-hover
  %tr
    %th Name
    %th Description
    %th Price

  - category.products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.price

%p
  %h3 New product
  = render 'products/form'

= link_to 'Edit', edit_category_path(category)
\|
= link_to 'Back', categories_path
